<footer class="page-footer">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">Thank You</h5>
            <p class="grey-text text-lighten-4">
               Please reach out to us and let us know how can we make your experience better. Share your ideas what are the functionalities you want us to implement.
            </p>
         </div>
         <div class="col l4 offset-l2 s12">
            <ul>
               <li><a class="grey-text text-lighten-3" href="https://github.com/supritshah1289"><img src="/images/github.png" height="30px;" width="30px;"></a></li>
               <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/selwinshah"><img src="/images/facebook.png" height="30px;" width="30px;"></a></li>
               <li><a class="grey-text text-lighten-3" href="https://twitter.com/supritshah1289"><img src="/images/twitter.png" height="30px;" width="30px;"></a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         © 2016 Copyright Text
      </div>
   </div>
</footer>
