<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Welcome to Home </title>
   <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.css" media="screen,projection">
   <link rel="stylesheet" href="/css/style.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="/bower_components/Materialize/dist/js/materialize.js" type="text/javascript" charset="utf-8" async defer></script>
   <script src="/js/script.js" type="text/javascript" charset="utf-8"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <style>
      body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      }
      main {
      flex: 1 0 auto;
      }

   </style>
</head>
