.deal{
  height: 400px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

body{

}

.guestdeal{
  font-family: 'Economica', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

.search{
 /* height: 200px;
  width: 1000px;*/
  background-color: white;
  margin-left: 300px;
  margin-right: 400px;
  border-radius: 5px;
}
.fields{
  height: 50px;
  width: 100px;
  display: inline-block;
}

