<!DOCTYPE html>
<html>
   <% include ../partials/head %>
   <body>
      <% include ../partials/nav %>
      <main>
         <h2>Explore your collections</h2>
      </main>
      <% include ../partials/footer %>
   </body>
</html>
